*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}
body{
   
    z-index: 100px;
    background-color: black;
}
.whole-container{
    padding-left: 20px ;
    padding-right: 20px ;

    z-index: -100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 500;
    color: white;
}
.title{
    text-indent: 100px;
    width: 50%;  
}
#homecolor{
    color: orange;
}
#homecolor:hover{
    color: black;
}
.name{
    color:orange;
}
.title span{
    font-size: 20px;
    color: white;
}
.menus{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus a{
    text-decoration: none;
    padding: 5px;

    font-weight: bolder;
    letter-spacing: 1px;
}
.menus a:hover{
    color:black;
    border-radius: 10px;
    background-color:orange;
}

 .menu-btn{
    font-size: 30px;
 
  margin-right: 5px;
  
  background-color:black;
  border:none;
    display: none;
}

.img-back{
    position: absolute;
    filter: drop-shadow(0px 0px 10px white);
    left: 150px;
    opacity:0.7;

    top: 130px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    z-index: -100px;
    background-color: orange;
}
/* ............................................. */
.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.8;
   
   
}
.content1{
    margin: 20px;
}


.profileimg1 img{
    
    width: 450px;
     height: 550px;
     filter: drop-shadow(0px 0px 3px white);
    margin-top: 0px;
    border-radius: 50%;
    
  
   
}
.profileimg1{
    z-index: 1;
background-color: orange;
border-radius: 50%;
width: 450px;
height: 450px;
margin-top: 50px;

filter: drop-shadow(0px 0px 5px white);

}
.username span{
    color: orange;
}

.hire-btn button{
    background-color: orange;
    color: black;
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid orange;
    
   
}
.hire-btn> button:hover{
    color: white;
    background-color: transparent;
    border: 2px solid orange;
}
.hire-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    
}

.hire-btn> .hover{
    background-color: transparent;
    color: white;
    border: 2px solid orange;
}
.hire-btn> .hover:hover{
    color: black;
    background-color: orange;
}

/* .................. container 2 ........................ */
.container2{
    display: flex;
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
    margin-bottom: 20px;

}
.profileimg2{
    margin-left: 170px;
    background-color: orange;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px white);

}

.profileimg2 img{
    width: 300px;
    height: 400px;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 1px white);
}
.titlename{
    color: orange;
    font-size: 30px;
    margin-top:150px;
}
#abt span {
    
    color: orange;
}
.abouts h3{
    font-size: 50px;
}
.titlename{
    margin-top: 60px;
}

 #abt, .profileimg2, p{
    margin-top: 10px;
 }


 .img-back2{
    filter: drop-shadow(0px 0px 10px white);
    position: relative;
    left: 555px;
    opacity: 0.7;
    top: 579px;
    width: 366px;
    height: 354px;
    border-radius: 50%;
    z-index: -100px;
    background-color: orange;
}

.abouts button{
    background-color:transparent;
    color:white;
    
    padding: 10px;
    font-weight: bolder;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top: 10px;
}

.abouts button:hover{
    color: black;
    background-color: orange;
}


/* .................container3............................ */












/* ............................................ */


/* ............ media quries.......... */
@media only screen and (min-width:300px) and (max-width:780px)
{
     
    .menus{
        display: none;
    }
    .menus{
    
        position: absolute;
        top: 50px;
        flex-direction: column;
        right: 10px;
        gap: 5px;
        border: 1px solid black;
        border-radius: 10px;
        font-weight: bolder;
        background-color: darkorchid;
        padding: 5px;
       
    }
    
     .menu-btn{
        display: block;
    }

    .title{
        text-indent: 20px;
    }
    .titlename{
        margin-top: 20px;
    }
    
    .username{
        font-size: 24px;
    }

    .img-back{
        display: flex;
        position: absolute;
        left: 55px;
        opacity: 0.7;
        top: 85px;
        width: 200px;
        height: 200px;

    }
    .hire-btn{
        flex-direction: column;
        gap: 5px;
        width: 100%;
        justify-content: center;
       
    }
    .hire-btn button{
        
       width: 200px;
    }
        .profileimg1 img{
            width: 230px;
            height: 300px; 
        }
        .content1{ 
            
            justify-content: center;
            align-items: center;
            margin-top: 80px;
        }

        .profileimg1{
            width: 230px;
            height: 240px;
        }
        .container1{
          line-height: 1.5;
            flex-direction: column;
            text-align: center;
        }
        .container2{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            justify-content: space-evenly;
            align-items: center;

        }
        /* .......................................... */
       .img-back2{

       filter: drop-shadow(0px 0px 10px white);
        position: relative;
        left: 10px;
        opacity: 0.7;
        top: 340px;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        z-index: -100px;
        background-color: orange;
    } 
    .profileimg2 img{
        width: 200px;
    height: 250px;
    }

    .profileimg2{
        width: 230px;
        height: 240px;
        margin-left: 20px;
    
    }
            

}

